body {
    margin: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-quote {
    background-color: white;
    padding: 20px;
    width: min(400px, 80%);
    border-radius: 10px;
    box-shadow: 1px 1px 7px 0 #9E9E9E;
    font-size: 16px;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

.box-quote__autor {
    font-size: 12px;
    position: relative;
    left:60%;
    transform: translateX(-60%);
    font-family: 'Raleway', sans-serif;

}

.box-quote__btn {
    margin: 10px 0;
    display: block;
    border: none;
    width: 35px;
    border-radius: 50%;
    aspect-ratio: 1;
    color: white;
    position: relative;
    left: 90%;
    transform: translateX(-90%);
    cursor: pointer;
    box-shadow: 1px 1px 5px 0 #424242;
    transition: box-shadow 200ms ease;
}

.box-quote__btn:active {
    box-shadow: 0 0 0 0 #424242;
    transition: box-shadow 200ms ease;

}